name: Run unit tests on feature branches

on:
  push:
    branches:
      - main

jobs:
  run-unit-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3.3.0

      - name: Run unit tests
        run: mvn test
